body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
a {
    text-decoration: none;
    color: inherit;
}
.wrapper {
    background-color: olive;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header {
    width: calc(100% - 40px);
    background-color: lightskyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.picLogo {
    padding-left: 25px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 35px;
}
nav {
    padding-right: 25px;
    display: flex;
    gap: 15px;
    font-size: 21px;
    font-variant: small-caps;
}
.banner {
    /* background-color: mediumslateblue; */
    width: calc(100% - 40px);
    height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-image: url(https://img.freepik.com/free-photo/beautiful-girl-sitting-viewpoint-koh-nangyuan-island-near-koh-tao-island-surat-thani-thailand_335224-1093.jpg?w=1480&t=st=1671882033~exp=1671882633~hmac=b30ca35b5e37f106bee6b0a0c7402203d5f3404ce2d89733ef87e8cd7a91ff1d);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    transition: 2s;
}
h1 {
    font-size: 70px;
    color: snow;
    margin-bottom: 0;
}
.banner:hover {
    background-image: url(https://img.freepik.com/free-photo/aerial-shot-rice-terrace-sunlight-evening-gianyar-bali-indonesia_181624-60419.jpg?w=826&t=st=1671883064~exp=1671883664~hmac=9ef6d187b95ee423127896a28e090f0d64cab7517e36571746aa49c688988179);
}
.banner>.banner2>p {
    color: transparent;
}
.banner>.banner2>a {
    color: transparent;
}
.banner2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.banner:hover>.banner2>p {
    color: black;
    font-size: 25px;
    border: 1px solid inherit;
    border-radius: 10px;
    background-color: rgba(183, 228, 47, 0.672);
    /* background-color: rgba(228, 204, 47, 0.672); */
    width: 350px;
    height: auto;
    text-align: left;
    padding: 30px;
}
.banner:hover>.banner2>.button {
    color: black;
    background-color: rgb(255, 172, 130);
    width: 100px;
    padding: 12px;
    border-radius: 10px;
    font-size: 20px;
}
.bacColor{
    width: 100vw;
    height: auto;
    background-color: rgb(71, 117, 231);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.description {
    /* background-color: salmon; */
    width: calc(100% - 140px);
    height: calc(100vh - 120px);
    background-image: url(https://img.freepik.com/free-photo/woman-standing-rock-atuh-beach-nusa-penida-island-bali-indonesia_335224-344.jpg?w=1480&t=st=1671890081~exp=1671890681~hmac=7ab580407d2942c032e969ee24d46d1ad99de7672568b89969fbe0d51aac9d86);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin: 40px 0;
}
.description2 {
    border: 1px solid inherit;
    border-radius: 10px;
    background-color: rgba(135, 206, 250, 0.900);
    padding: 10px 30px;
    margin-left: 100px;
    margin-top: 85px;
    width: 300px;
    height: auto;
    font-size: 20px;
    text-align: left;
}
.button2 {
    color: inherit;
    background-color: mediumaquamarine;
    width: 100px;
    padding: 12px 5px 12px 12px;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    margin-top: 30px;
    margin-left: 215px;
}
.weather {
    background-color: pink;
    width: 100vw;
    height: calc(100vh - 160px);
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url(https://img.freepik.com/free-photo/kelingking-beach-sunset-nusa-penida-island-bali-indonesia_335224-338.jpg?w=1480&t=st=1671960709~exp=1671961309~hmac=afa17346152848ae3c9423ea0ef07091cebca87e5a2be959129657ff90b2eb8d);
    background-repeat: no-repeat;
    background-size: cover;
}
.weather>h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 35px;
    margin-bottom: 10px;
    color: black;
}
.cards1 {
    height: 400px;
    width: calc(100% - 300px);
    /* background-color: lavender; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    /* flex-wrap: wrap; */
    transform-origin: center;
    transition-duration: 2s;
    transition-property: transform;
    transition-timing-function: linear;
    animation-name: circle1;
    animation-duration: 24s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* position: absolute;
    top: 68px; */
    position: relative;
    z-index: 1;
    margin-top: 0;
}
.cards1:hover {
    animation-play-state: paused;
}
@keyframes circle1 {
    0% {
        transform: translate(-100vw);
    }
    50% {
        transform: translate(0);
    }
    100% {
        transform: translate(100vw, 0);
    }
}
@keyframes circle2 {
    /* 0% {
        transform: translate(-100vw);
    } */
    50% {
        transform: translate(100vw, 0);
    }
    100% {
         transform: translate(100vw);
    }
}
.cards2 {
    /* background-color: bisque; */
    height: 400px;
    width: calc(100% - 300px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    /* flex-wrap: wrap; */
    transform-origin: center;
    transition-duration: 2s;
    transition-property: transform;
    transition-timing-function: linear;
    animation-name: circle2;
    animation-duration: 23s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* position: relative; */
    position: absolute;
    top: 91px;
    /* z-index: -1; */
}
.cards2:hover {
    animation-play-state: paused;
}
.weatherCard {
    border: 1px solid cornflowerblue;
    border-radius: 10px;
    width: 130px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(100, 148, 237, 0.8);
    color: snow;
    padding-top: 15px;
}
.weatherCard>h3 {
    font-size: 25px;
    margin: 10px 0 4px;
}
.weatherCard>p {
    font-size: 25px;
    margin-top: 5px;
}
.placesCard {
    border: 1px solid inherit;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba(255, 250, 250, 0.850);
}
.places {
    background-color: rgb(134, 199, 240);
    width: 100vw;
}
.placesNew {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    grid-template-rows: repeat(4, 130px);
    gap: 10px;
    justify-content: center;
    margin: 35px 0;
}
.places>h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: snow;
    padding: 10px;
}
.placesCard:nth-child(1) {
    background-image: url(https://img.freepik.com/free-photo/water-temple-bratan-lake_1385-1793.jpg?w=1480&t=st=1671967388~exp=1671967988~hmac=f0ebfb6462759c98f11366fd5b5266cf9c4c8d776875b8065ab387c0670de4e5);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 200px;
    background-position: top center;
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
}
.placesCard:nth-child(2) {
    background-image: url(https://img.freepik.com/free-photo/shot-breathtaking-giant-mountain-covered-forests-gleaming-cloudy-sky_181624-30629.jpg?w=1480&t=st=1671975307~exp=1671975907~hmac=4ddefa6f635b62620265bc059d0745ac45d28391d5b10dd46220137f71005f0d);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 200px;
    background-position: top center;
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
}
.placesCard:nth-child(3) {
    background-image: url(https://img.freepik.com/free-photo/rice-fields-ubud-bali_501050-1027.jpg?w=1480&t=st=1671974803~exp=1671975403~hmac=48b5a380606c5101d9d191a2ce20f8f88da2937fbb2fb8d69808685d4f45cd06);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 200px;
    background-position: top center;
    grid-row: 1 / span 2;
    grid-column: 3 / span 1;
}
.placesCard:nth-child(4) {
    background-image: url(https://img.freepik.com/free-photo/aerial-view-kelingking-beach-nusa-penida-island-bali-indonesia_335224-309.jpg?w=1480&t=st=1671975153~exp=1671975753~hmac=f9a8269b892905dfcb09f514bdedbad704cc816f55f63d97a11d4ad80a4779e5);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 200px;
    background-position: top center;
    grid-row: 3 / span 2;
    grid-column: 1 / span 1;
}
.placesCard:nth-child(5) {
    background-image: url(https://img.freepik.com/free-photo/temple-gates-lempuyang-luhur-temple-bali-indonesia_335224-363.jpg?w=1480&t=st=1671974879~exp=1671975479~hmac=02f8d238af20742c518ce574079041d2d75b7692813288d2ddcca1b654d3b8bf);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 200px;
    background-position: top center;
    grid-row: 3 / span 2;
    grid-column: 2 / span 1;
}
.placesCard:nth-child(6) {
    background-image: url(https://img.freepik.com/free-photo/cute-mother-macaque-monkey-holding-its-baby_181624-29415.jpg?w=1480&t=st=1671975016~exp=1671975616~hmac=7c8c70039baf1217300614c7b7efb7b5db7d6682553601c6a4007c376eec7ebf);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 200px;
    background-position: top center;
    grid-row: 3 / span 2;
    grid-column: 3 / span 1;
}
.placesCard>a {
    display: grid;
    grid-template-columns: repeat(30px, auto);
    grid-template-rows: repeat(2, 50px);
}
.placesCard>a>img {
    grid-row: 2;
}
.placesCard>a>h3 {
    grid-row: 2;
    grid-column: 2;
}
.ticketsHotels {
    background-color: lightseagreen;
    background-image: url(https://img.freepik.com/free-photo/beautiful-view-boat-sea-tropical-beach-gili-trawangan-lombok-indonesia_158538-26123.jpg?w=1380&t=st=1671995751~exp=1671996351~hmac=edafa1beada664d7994428e2b3feaf2545f4ffce4ff79ff026c4ea4e7b72f071);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ticketsHotels>h2 {
    /* display: flex;
    justify-content: center; */
    /* margin-top: 35px; */
    font-size: 35px;
    color: snow;
    padding-bottom: 20px;
}
.cardsTicHot {
    width: calc(100% - 140px);
    height: calc(100% - 175px);;
    background-color: rgba(112, 136, 216, 0.802);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
}
.ticketsHotelsCards {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid inherit;
    border-radius: 10px;
    width: 350px;
    height: 400px;
}
.ticketsHotelsCards:nth-child(1) {
    background-image: url(https://img.freepik.com/free-photo/airplane-sunset_1150-8338.jpg?w=1480&t=st=1671995895~exp=1671996495~hmac=d33df463791ac0a8709979fad8e338cca0fd76a84616d258f14066ae0dbdcaff);
    background-size: 100% 300px;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: rgba(255, 250, 250, 0.850);
}
.ticketsHotelsCards:nth-child(2) {
    background-image: url(https://img.freepik.com/free-photo/transparent-bubble-tent-glamping-night_1268-20693.jpg?w=2000&t=st=1671995392~exp=1671995992~hmac=5030979a644d2386ac952bbe89ec8d63df5dac04ef4529fc49af52947e0682f7);
    background-size: 100% 300px;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: rgba(255, 250, 250, 0.850);
}
.button3 {
    color: inherit;
    background-color: rgba(112, 211, 216, 0.802);
    width: auto;
    padding: 12px 12px 12px 12px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 25px;
}
.subscription {
    width: 100vw;
    height: 300px;
    background-color: lightseagreen;
    background-image: url(https://img.freepik.com/free-photo/beautiful-tropical-sunset-with-coconut-palm-trees-beach-blue-sky-with-vintage-effect-toned_158538-26110.jpg?w=1380&t=st=1671979540~exp=1671980140~hmac=db9b57b5f54705e6f9fe2a62ef4a724ffcdf9ae4342c88d475163cc59a6434a2);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
}
.subscription>h2 {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    font-size: 35px;
    color: snow;
    position: relative;
}
.subscription>h2::after {
    content: "";
    border-bottom: 3px solid snow;
    position: absolute;
    bottom: -10px;
    width: 200px;
}
.windowSub {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}
input {
    font-size: 18px;
    padding: 5px;
    border-radius: 8px;
    width: 220px;
    font-family: 'Times New Roman', Times, serif;
}
button {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 8px;
    padding: 5px;
    background-color: snow;
}
button:active {
    color: snow;
    background-color: olivedrab;
}
footer {
    width: 100vw;
    background-color: paleturquoise;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}